.card {
  margin-top: 1em;
  margin-bottom: 5em;
}

.title {
  /* font-size: 1.5em; */
  font-weight: 400;
  margin-bottom: 1em;
}

.title a {
  font-size: 1.1em;
  text-decoration: none;
  color: var(--text-color);
  transition: color 200ms linear;
}

.title a:hover {
  color: var(--theme-color);
}

.button {
  border: 2px solid var(--theme-color);
  color: var(--theme-color);
  display: inline-block;
  text-decoration: none;
  padding: 0.6em 1em;
  border-radius: 8px;
  margin-top: 0.5em;
  background-color: white;
  transition: all 100ms linear;
}

.content p {
    margin: 1em 0;
}

.button:hover {
  color: var(--white-color);
  background-color: var(--theme-color);
}

@media only screen and (min-width: 768px) {
  .section {
    max-width: 1100px;
    margin: 0 auto;
  }

  .card {
    display: flex;
    gap: 5em;
  }

  .card div {
    flex-direction: column;
    justify-content: center;
    flex: 1;
  }

  .title {
    display: inline-block;
  }

  .title:hover {
    color: var(--theme-color);
  }

  .project-box-container-reverse {
    flex-direction: row-reverse;
  }

  .project-box-reverse {
    text-align: right;
  }

  .image {
    position: relative;
  }
}
