/* Main content */
.main {
  padding: 1em;
}

.introText {
  font-size: 2em;
  font-weight: 300;
  color: var(--heading-color);
  text-align: center;
}

.introBanner {
  margin-top: 5em;
}

.introBanner p span {
  font-weight: bold;
  color: var(--theme-color);
}

.avatar {
  display: flex;
  justify-content: center;
}

.introBanner img {
  margin: 2em 0;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  align-self: center;
}

.content p {
  margin-bottom: 1em;
}

.technologies ul {
  margin-left: 1em;
  font-size: 0.9em;
  font-family: var(--font-mono);
  columns: 2;
}

.technologies ul li {
  padding-left: 0.5em;
}

@media only screen and (min-width: 768px) {
  .introBanner {
    max-width: 900px;
    margin: 0 auto;
    margin-top: 10em;
    margin-bottom: 10em;
  }
  /* Intro banner design */
  .container {
    display: flex;
    gap: 2em;
    margin: 2em 0;
  }

  .introBanner img {
    border-radius: 0;
    height: auto;
    width: 100%;
    margin: 0;
  }

  .content {
    width: 100%;
  }
  .introText {
    font-size: 4em;
    text-align: left;
  }
}
