.logo {
  font-family: "Patrick Hand", sans-serif;
  font-size: 3em;
  transition: all 200ms;
  margin-left: 1rem;
}

.logo a {
  text-decoration: none;
  color: var(--heading-color);
}

.logo:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.nav {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 999;
}

.menuButton {
  margin-left: auto;
  border: 0;
  height: 50px;
  width: 50px;
  padding: 0.5rem;
  color: var(--theme-color);
  transition: scale 0.2s ease-in-out;
  background-color: white;
}

.menu {
  display: none;
  position: absolute;
  top: 80px;
  left: 0;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 80px);
  border-top: 1px solid var(--white-color);
  transition: display 2000ms ease-in-out;
}

.expanded {
  display: flex;
  background-color: var(--theme-color);
}

.menu li {
  list-style: none;
  text-align: center;
  padding: 0.5rem 0;
  /* font-size: 1.2em; */
}

.active a {
  color: var(--theme-color);
}

.menu li a {
  text-decoration: none;
  color: var(--white-color);
  transition: color 200ms ease-in-out;
}

.menu li a:hover {
  color: var(--theme-color);
}

.active {
  border-bottom: 1px solid var(--theme-color);
}

@media screen and (min-width: 768px) {
  .nav ul {
    display: flex;
    position: relative;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
    top: 0;
    height: 80px;
    flex-direction: row;
    gap: 3em;
    border: none;
  }

  .nav {
    padding: 0.5em 3em;
  }

  .menuButton {
    display: none;
  }

  .menu li a {
    text-decoration: none;
    color: var(--heading-color);
  }
}
