.details {
  margin-bottom: 2em;
}

.title h3 {
  font-weight: 500;
  font-size: 1.2em;
  margin-bottom: 0.2em;
}

.title h3 a {
  text-decoration: none;
  color: var(--secondary-color);
}

.title p {
  margin-top: 1em;
  /* font-weight: 500; */
  color: var(--secondary-color)
}

.subheading {
  font-size: 0.8em;
  font-family: var(--font-mono);
}

.details ul {
  display: flex;
  flex-direction: column;
  padding: 1em;
  gap: 0.5em;
  margin: 0;
}

.details ul li {
  padding-left: 0.5em;
  line-height: 1.5;
}

@media only screen and (min-width: 768px) {
  /* Experience section */
  .section h2 {
    text-align: right;
  }

  .details {
    display: flex;
    flex-direction: row;
    gap: 5em;
    width: 100%;
    justify-content: center;
  }

  .title {
    margin-top: 1em;
    text-align: right;
    width: 40%;
  }

  .details ul {
    width: 60%;
  }
}
