@tailwind base;
@tailwind components;
@tailwind utilities;

.markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 100%;
  margin: 0 auto;
  padding: 1em 0;
  font-family: var(--font-main);
}

@media (max-width: 767px) {
  .markdown-body {
      padding: 15px;
  }
}
